.app {
  background: #0142aa;
  padding: 30px;
  height: 100vh;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 600px;
}

.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 18px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input.input {
  width: 88%;
  font-size: 16px;
  padding-left: 3px;
  overflow: auto;
  border-radius: 5px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.deleted {
  display: none;
}

.btn {
  border-radius: 10px;
}
